<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  </head>
  <body class="bg">
  <div class="title">
    <h1><%= title %></h1>
    <p><b>Welcome <%= name %></b></p>
  </div>
    <div class="well col-lg-8">
          <blockquote>
          <div class="row">
          <div class="col-sm-12 col-lg-10">
            <h2>Friends are the ultimate way for timepas :-P</h2>
            <p>Log in to stay in touch with us...</p>
          </div>
          <div class="col-sm-12 col-lg-2">
            <a href="/login" name="login" type="submit" class="btn btn-primary" display="block">Login</a>
          </div> 
          </div>
          </blockquote>
    </div>
  </body>
</html>
